<div id="center">
  <div class="column">
    <div class="col s12 m6" id="login">
      <div class="card black lighten-2">
        <div class="card-content white-text"  class="sign-up">
          <span class="card-title">Sign Up</span>
            <form ng-submit="users.createUser(user)">
              <div class="row">
               <div class="input-field col s6">
                 <input id="first_name" type="text" class="validate" ng-model="user.firstName">
                 <label for="first_name">First Name</label>
               </div>
               <div class="input-field col s6">
                 <input id="last_name" type="text" class="validate" ng-model="user.lastName">
                 <label for="last_name">Last Name</label>
               </div>
             </div>
             <div class="row">
               <div class="input-field col s6">
                 <input id="username" type="text" class="validate" ng-model="user.username">
                 <label for="username">Username</label>
               </div>
               <div class="input-field col s6">
                 <input id="password" type="password" class="validate" ng-model="user.password">
                 <label for="password">Password</label>
               </div>
             </div>
             <button class="btn-large waves-effect waves-light brown" type="submit">Submit</button>
            </form>
        </div>
        <div class="card-action">
          <span class="card-title"><span class="white-text">Or... </span><a ui-sref="login">Login</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
