<!-- BARATHEON -->
<div class="column">
  <div class="house-card">
    <div class="col s12 m6">
      <div class="card horizontal large">
        <div class="card-image">
          <img class="house-image" src="images/baratheon.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h3>Baratheon</h3>
            <p style="font-size: 1.8vw !important">After Robert's Rebellion, House Baratheon split into three branches: Lord Robert Baratheon was crowned King and took residence at King's Landing, thereby creating House Baratheon of King's Landing. Robert gave the seat of Dragonstone to his younger brother, Stannis, creating House Baratheon of Dragonstone. Robert's youngest brother, Renly, became the Lord of Storm's End, continuing House Baratheon of Storm's End.</p>
          </div>
          <div class="card-action">
            <a href="http://awoiaf.westeros.org/index.php/House_Baratheon">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- GREYJOY -->
<div class="column">
  <div class="house-card">
    <div class="col s12 m6">
      <div class="card horizontal large">
        <div class="card-image">
          <img class="house-image" src="images/greyjoy.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h3>Greyjoy</h3>
            <p style="font-size: 1.8vw !important">House Greyjoy of Pyke is one of the Great Houses of Westeros. It rules over the Iron Islands, a harsh and bleak collection of forbidding islands off the west coast of Westeros, from the Seastone Chair in the castle of Pyke on the island of the same name. The head of the family is traditionally known as the Lord Reaper of Pyke. </p>
          </div>
          <div class="card-action">
            <a href="http://awoiaf.westeros.org/index.php/House_Greyjoy">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- LANNISTER -->
<div class="column">
  <div class="house-card">
    <div class="col s12 m6">
      <div class="card horizontal large">
        <div class="card-image">
          <img class="house-image" src="images/lannister.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h3>Lannister</h3>
            <p style="font-size: 1.8vw !important">House Lannister of Casterly Rock is one of the Great Houses of Seven Kingdoms, and the principal house of the westerlands. Fair-haired, tall, and handsome, the Lannisters are the blood of Andal adventurers who carved out a mighty kingdom in the western hills and valleys. The Lannisters reigned as Kings of the Rock until they fell to the Targaryen conquest, but were allowed to remain the liege lords of the westerlands. </p>
          </div>
          <div class="card-action">
            <a href="http://awoiaf.westeros.org/index.php/House_Lannister">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- STARK -->
<div class="column">
  <div class="house-card">
    <div class="col s12 m6">
      <div class="card horizontal large">
        <div class="card-image">
          <img class="house-image" src="images/stark.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h3>Stark</h3>
            <p style="font-size: 1.8vw !important">House Stark of Winterfell is one of the Great Houses of Westeros and the principal noble house of the north; many lesser houses are sworn to them. In days of old they ruled as Kings of Winter, but since the Wars of Conquest by House Targaryen they have been Wardens of the North. Their seat, Winterfell, is an ancient castle renowned for its strength.</p>
          </div>
          <div class="card-action">
            <a href="http://awoiaf.westeros.org/index.php/House_Stark">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TARGARYEN -->
<div class="column">
  <div class="house-card">
    <div class="col s12 m6">
      <div class="card horizontal large">
        <div class="card-image">
          <img class="house-image" src="images/targaryen.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h3>Targaryen</h3>
            <p style="font-size: 1.8vw !important">House Targaryen ruled as the kings on the Iron Throne and as the Great House of the crownlands for nearly 300 years, until their ouster in Robert's Rebellion, which they call the War of the Usurper. Their seats were the Red Keep in the capital city of King's Landing, the castle of Dragonstone, and the summer residence of Summerhall.</p>
          </div>
          <div class="card-action">
            <a href="http://awoiaf.westeros.org/index.php/House_Targaryen">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TULLY -->
<div class="column">
  <div class="house-card">
    <div class="col s12 m6">
      <div class="card horizontal large">
        <div class="card-image">
          <img class="house-image" src="images/tully.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h3>Tully</h3>
            <p style="font-size: 1.8vw !important">House Tully of Riverrun is one of the Great Houses of the Seven Kingdoms. Lord Hoster Tully, the Lord Paramount of the Trident, rules over the riverlands from the Tully seat of Riverrun. Their sigil is a silver trout leaping on a blue and red striped field, and their words are "Family, Duty, Honor." Members of the family tend to have auburn hair, high cheekbones, and bright blue eyes</p>
          </div>
          <div class="card-action">
            <a href="http://awoiaf.westeros.org/index.php/House_Tully">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
