<!-- <div class="row house-image">
  <div class="col s12 m3">
    <div class="card medium">
      <div class="card-image">
        <img src="images/stark.jpg">
        <span class="card-title">Stark</span>
      </div>
      <div class="card-content">
        <p>House Stark of Winterfell is one of the Great Houses of Westeros and the principal noble house of the north; many lesser houses are sworn to them. In days of old they ruled as Kings of Winter, but since the Wars of Conquest by House Targaryen they have been Wardens of the North. Their seat, Winterfell, is an ancient castle renowned for its strength.</p>
      </div>
      <div class="card-action">
        <a href="http://awoiaf.westeros.org/index.php/House_Stark">Read More</a>
      </div>
    </div>
  </div>
</div> -->
<div class="column">
  <div class="house-card">
    <div class="col s12 m6">
      <div class="card horizontal medium">
        <div class="card-image">
          <img class="house-image" src="images/stark.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h3>Stark</h3>
            <p style="font-size: 2vw !important">House Stark of Winterfell is one of the Great Houses of Westeros and the principal noble house of the north; many lesser houses are sworn to them. In days of old they ruled as Kings of Winter, but since the Wars of Conquest by House Targaryen they have been Wardens of the North. Their seat, Winterfell, is an ancient castle renowned for its strength.</p>
          </div>
          <div class="card-action">
            <a href="http://awoiaf.westeros.org/index.php/House_Stark">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="column">
  <div class="house-card">
    <div class="col s12 m6">
      <div class="card horizontal medium">
        <div class="card-image">
          <img class="house-image" src="images/greyjoy.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h3>Greyjoy</h3>
            <p style="font-size: 2vw !important">House Greyjoy of Pyke is one of the Great Houses of Westeros. It rules over the Iron Islands, a harsh and bleak collection of forbidding islands off the west coast of Westeros, from the Seastone Chair in the castle of Pyke on the island of the same name. The head of the family is traditionally known as the Lord Reaper of Pyke. </p>
          </div>
          <div class="card-action">
            <a href="http://awoiaf.westeros.org/index.php/House_Greyjoy">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="column">
  <div class="house-card">
    <div class="col s12 m6">
      <div class="card horizontal medium">
        <div class="card-image">
          <img class="house-image" src="images/tully.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h3>Tully</h3>
            <p style="font-size: 2vw !important">House Tully of Riverrun is one of the Great Houses of the Seven Kingdoms. Lord Hoster Tully, the Lord Paramount of the Trident, rules over the riverlands from the Tully seat of Riverrun. Their sigil is a silver trout leaping on a blue and red striped field, and their words are "Family, Duty, Honor." Members of the family tend to have auburn hair, high cheekbones, and bright blue eyes</p>
          </div>
          <div class="card-action">
            <a href="http://awoiaf.westeros.org/index.php/House_Tully">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
