<h3>Login</h3>
<form ng-submit="users.login(user)">
  <input type="text" placeholder="Username" ng-model="user.username">
  <input type="password" placeholder="Password" ng-model="user.password">
  <button type="submit">Submit</button>
</form>

<!-- SWORD -->
<div class="all">
        <div class="sword">
         <div class="grip">
             <div class="lines"></div>
             <div class="lines a"></div>
             <div class="lines b"></div>
             <div class="lines c"></div>
             <div class="lines d"></div>
             <div class="lines e"></div>
             <div class="lines f"></div>
             <div class="lines h"></div>
             <div class="lines i"></div>
             <div class="lines j"></div>
             <div class="lines k"></div>
             <div class="lines l"></div>
             <div class="lines m"></div>
             <div class="lines n"></div>
             <div class="grip-shadow"></div>
             <div class="pommel">
                 <div class="tritopleft"></div>
                 <div class="tritopright"></div>
                 <div class="tridownleft"></div>
                 <div class="tridownright"></div>
             </div>
         </div>
         <div class="blade-left">
             <div class="fuller-left"></div>
         </div>
         <div class="blade-right">
             <div class="fuller-right"></div>
         </div>
         <div class="cross-guard">
             <div class="border-left"></div>
             <div class="border-right"></div>
         </div>
     </div>
    </div>
