
<div id="center">
  <div class="column">
    <div class="col s12 m6"  id="login">
      <div class="card black lighten-2">
        <div class="card-content white-text"  class="sign-up">
          <span class="card-title">Login</span>
            <form ng-submit="users.login(user)">
             <div class="row">
               <div class="input-field col s6">
                 <input id="username" type="text" class="validate" ng-model="user.username">
                 <label for="username">Username</label>
               </div>
               <div class="input-field col s6">
                 <input id="password" type="password" class="validate" ng-model="user.password">
                 <label for="password">Password</label>
               </div>
             </div>
             <button class="btn-large waves-effect waves-light brown" type="submit">Submit</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- SWORD -->
<!-- <div class="all">
        <div class="sword">
         <div class="grip">
             <div class="lines"></div>
             <div class="lines a"></div>
             <div class="lines b"></div>
             <div class="lines c"></div>
             <div class="lines d"></div>
             <div class="lines e"></div>
             <div class="lines f"></div>
             <div class="lines h"></div>
             <div class="lines i"></div>
             <div class="lines j"></div>
             <div class="lines k"></div>
             <div class="lines l"></div>
             <div class="lines m"></div>
             <div class="lines n"></div>
             <div class="grip-shadow"></div>
             <div class="pommel">
                 <div class="tritopleft"></div>
                 <div class="tritopright"></div>
                 <div class="tridownleft"></div>
                 <div class="tridownright"></div>
             </div>
         </div>
         <div class="blade-left">
             <div class="fuller-left"></div>
         </div>
         <div class="blade-right">
             <div class="fuller-right"></div>
         </div>
         <div class="cross-guard">
             <div class="border-left"></div>
             <div class="border-right"></div>
         </div>
     </div>
    </div> -->
